/* You can add global styles to this file, and also import other style files */

$white:#fff;
$light-brown :#d39667;
$brown:#6a5521;
.white {
    color: $white
}
.light-brown{
    color: $light-brown
}
.brown{
    color: $brown
}